* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    gap: 5px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: lightgray;
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 150px;
    height: auto;
    display: block;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

.theme-toggle {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background: #ddd;
    padding: 10px;
}

.quiz-container {
    text-align: center;
    padding: 20px;
}

.answers {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    background: #bbb;
    padding: 15px;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: rgb(44, 36, 201);
    margin: 5px 0;
}